
@model Tuple<Comments, Users, Articles>

@{
    ViewBag.Title = "CommentDetail";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@*<h2>CommentDetail</h2>*@

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="card-title">Makale Detay</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div>

                    <dl class="dl-horizontal">
                        
                        <dt>
                            İçerik
                        </dt>

                        <dd>
                            @Html.Raw(Model.Item1.Content)
                        </dd>
                        <dt>
                            Makale
                        </dt>

                        <dd>
                            @Model.Item3.Title
                            @*@Html.DisplayFor(model => model.CategoryName)*@
                        </dd>
                        <dt>
                            Yazar
                        </dt>

                        <dd>
                            @Model.Item2.UserName
                        </dd>

                        <dt>
                            Eklenme Tarihi
                        </dt>

                        <dd>
                            @Model.Item1.CreateDate.Date
                        </dd>

                        <dt>
                            Son Güncellenme tarihi
                        </dt>

                        <dd>
                            @Model.Item1.UpdateDate
                        </dd>




                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Düzenle", "CommentEdit", new { id = Model.Item1.CommetId }) |
                    @Html.ActionLink("Listeye geri dön", "CommentsIndex")
                </p>
            </div>
        </div>
    </div>
</section>