@model BlogSite.Web.Comments

@{
    ViewBag.Title = "CommentDetail";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
@*@model Tuple <Comments, Users, Articles >*@

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="card-title">Yorum Detay</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @*@Html.DisplayNameFor(model => model.Item1.ArticleId)*@
                            @Html.DisplayNameFor(model => model.ArticleId)
                        </dt>

                        <dd>
                            @*@{ var makaleAdi = }*@


                            @*@Html.DisplayFor(model => model.Item3.Title)*@
                            @Html.DisplayFor(model => model.ArticleId)
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.Item1.UserId)*@
                            @Html.DisplayNameFor(model => model.UserId)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.Item2.UserName)*@
                            @Html.DisplayFor(model => model.UserId)
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.Item1.Content)*@
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.Item1.Content)*@
                            @Html.DisplayFor(model => model.Content)
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.Item1.CreateDate)*@
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.Item1.CreateDate)*@
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            @*@Html.DisplayNameFor(model => model.Item1.UpdateDate)*@
                            @Html.DisplayNameFor(model => model.UpdateDate)
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.Item1.UpdateDate)*@
                            @Html.DisplayFor(model => model.UpdateDate)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "CommentEdit", new { id = Model.CommetId }) |
                    @Html.ActionLink("Back to List", "CommentsIndex")
                </p>
            </div>
        </div>
    </div>
</section>