
@{
    ViewBag.Title = "MakaleDetayIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Tuple<List<Categories>, Articles, List<Comments>, List<Users>>

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <!-- breadcrumb-->
                    @*<nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Blog post</li>
                            </ol>
                        </nav>*@
                </div>
                <div id="blog-post" class="col-lg-11">
                    <div class="box">



                        <input type="hidden" id="articleId" name="name" value="@Model.Item2.ArticleId" />


                        <p class="author-date">
                            Yazan <a href="#">
                                @foreach (var u in Model.Item4)
                                {
                                    if (u.UsersId == Model.Item2.UserId)
                                    {
                                        @u.UserName
                                        
                                    }

                                }
                            </a> |  @Model.Item2.CreateDate
                        </p>

                        <div id="post-content">
                            <p>
                                <h2>@Model.Item2.Title</h2>
                            </p>
                            <p>
                                @Html.Raw( Model.Item2.Content)
                            </p>

                        </div>
                        <!-- /#post-content-->
                        <div id="comments">
                            <h4> Yorumlar</h4>


                            <div id="commentline">
                                @foreach (var comment in Model.Item3)
                                {


                                    <div class="row comment">
                                        <div class="col-md-3 col-lg-2 text-center text-md-center">
                                            @*<p><img src="img/blog-avatar2.jpg" alt="" class="img-fluid rounded-circle"></p>*@
                                        </div>
                                        <div class="col-md-9 col-lg-10">

                                            @foreach (var u in Model.Item4)
                                            {
                                                if (u.UsersId == comment.UserId)
                                                {

                                                    <h5>
                                                        @u.UserName
                                                    </h5>
                                                    break;
                                                }

                                            }

                                            <p class="posted"><i class="fa fa-clock-o"></i> @comment.CreateDate</p>
                                            <p>@comment.Content</p>
                                            <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a></p>
                                        </div>
                                    </div>

                                }
                            
                            </div>
                            <!-- /#comments-->
                            <div id="comment-form">
                                <h4>Yorum yap</h4>
                                <form id="yorumYap" method="post">
                                    @*<div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Kullanıcı adı <span class="required">*</span></label>
                                                    <input id="name" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email">Email <span class="required">*</span></label>
                                                <input id="gelenMailAdresi" name="email" type="text" class="form-control" />
                                              
                                                

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label for="comment">Yorum <span class="required">*</span></label>
                                                <textarea id="comment" rows="4" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" onclick="YorumEkle()" class="btn btn-primary"><i class="fa fa-comment-o"></i> Yorum ekle</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            @ViewBag.Message
                                            @*<input type="hidden" id="uyariMessage" name="name" value="@ViewBag.Message" />*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /#comment-form-->
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- /#blog-post-->

                </div>
            </div>
        </div>
    </div>
    </div>
    @*<script src="~/distribution/js/map.js"></script>
        <script src="~/distribution/js/front.js"></script>
        <script src="~/distribution/vendor/jquery/jquery.js"></script>
        <script src="~/distribution/vendor/jquery/jquery.min.js"></script>
        <script src="~/distribution/vendor/jquery/jquery.slim.js"></script>
        <script src="~/distribution/vendor/jquery/jquery.slim.min.js"></script>*@

<script>


        function YorumEkle() {
            var articleId = document.getElementById("articleId").value;
            var yoruMetin = document.getElementById("comment").value;
            var email = document.getElementById("gelenMailAdresi").value;
            




            //debugger;
            $.ajax
                ({
                    url: "/Makaleler/YorumEkle",
                    type: 'POST',
                    //data: { id: id, userId: userId, yorumMetin: yorumMetin },
                    data: { "articleid": articleId, "yorumMetin": yoruMetin, "email": email },
                    success: function (result) {
                        debugger;
                        if (result != null) {
                            var ekleYorumSatiri = document.getElementById("commentline");
                            ekleYorumSatiri.append("<div class='row comment'><div class='col-md-3 col-lg-2 text-center text-md-center'></div><div class='col-md-9 col-lg-10'><h5>" + result.UserName + "</h5><p class='posted'><i class='fa fa-clock-o'></i>" + result.CommentDateTime + "</p><p>" + result.CommentContent + "</p><p class='reply'><a href='#'><i class='fa fa-reply'></i> Reply</a></p></div></div>");
                            alert('Yorum eklendi');
                        }
                        else {
                            alert('Yorum ekleyebilmek için üye olmanız gerekmektedir.');
                        }
                        

                    },
                    Error: function (result) {
                        if (result != null) {
                            alert('Yorum ekleyebilmek için üye olmanız gerekmektedir.');
                        }
                       // debugger;
                    }

                });
        }

        //   })
        //});




</script>


