@using BlogSite.Web.Areas.AdminPanel.Models

@model UserDetay


@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="card-title">Kullanıcı Güncelle</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">


                <div>
                    <h3>@Model.User.UserName</h3>

                </div>









                @using (Html.BeginForm("UserEdit", "Users", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.User.UsersId)

                    @*<input type="hidden" name="Icerik" id="hiddenIcerik" value="" />*@

                    <div>
                        @Html.LabelFor(m => m.User.UserName, "Kullanıcı adı") :
                        <br />
                        @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.User.UserPassword, "Şifre") :
                        <br />
                        @Html.TextBoxFor(m => m.User.UserPassword, new { @class = "form-control" })
                    </div>

                    <div>
                        @Html.LabelFor(m => m.User.IsActive, "Aktiflik")
                        <br />
                        <div style="display: flex; justify-content: flex-start; margin-left:30px;"> 
                             @Html.CheckBoxFor(m => m.User.IsActive, new { @class = "form-check-input" })
                        </div>
                    </div>
                    <br />
                    



                    <div>
                        @Html.LabelFor(m => m.User.RoleId, "Rol") :
                        <br />
                        @Html.DropDownListFor(m => m.User.RoleId, new SelectList(Model.Roles, "RoleId", "RoleName"), "Rol seç", new { @class = "form-control" })
                    </div>


                    <br />


                    <button type="submit">Güncelle</button>



                }
                <p></p>

                <div>
                    @Html.ActionLink("Listeye geri dön", "UsersIndex")
                </div>








            </div>
        </div>
    </div>
</section>

