


@{
    ViewBag.Title = "AnasayfaIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Tuple<List<Categories>, List<Articles>, List<Users>, List<Comments>>



<div id="all">
    <div id="content">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12">-->
            <!-- breadcrumb-->
            <!--<nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Blog liste</li>
                        </ol>
                    </nav>
                </div>
            </div>-->
            <div class="row">
                <!--
                *** LEFT COLUMN ***
                _________________________________________________________
                -->
                <div id="blog-listing" class="col-lg-12">
                    @*<div class="box">
                            <h1>Kategori</h1>
                            <p>



                            </p>
                        </div>*@
                    <!-- post-->
                    @foreach (var makale in Model.Item2)
                    {


                        <!-- post        -->
                        <div class="post">
                            <h2><a href="~/Makaleler/MakaleDetayIndex/@makale.ArticleId">@makale.Title</a></h2>
                            <p class="author-category">
                                By <a href="#">
                                    @foreach (var user in Model.Item3)
                                    {

                                        if (user.UsersId == makale.UserId)
                                        {
                                            @user.UserName
                                        }
                                    }

                                </a>


                            </p>
                            <hr>
                            <p class="date-comments">
                                <a href="#"><i class="fa fa-calendar-o"></i> @makale.CreateDate</a>
                                <i class="fa fa-comment-o">

                                    @{int sayac = 0; }
                                    @foreach (var com in Model.Item4)
                                    {
                                        if (com.ArticleId == makale.ArticleId)
                                        {
                                            sayac += 1;

                                        }
                                    }

                                @foreach ( var res in ViewBag.CommentResponse )
                                {
                                    if ( res.ArticleId == makale.ArticleId)
                                    {
                                        sayac += 1;
                                    }
                                }



                                    @sayac
                                </i> Yorum

                                @*<a href="~/Yorumlar/YorumlarIndex/@makale.ArticleId"><i class="fa fa-comment-o"></i>  Comments</a>*@
                            </p>

                            @*<div class="image"><a href="post.html"><img src="/distribution/img/blog.jpg" alt="Example blog post alt" class="img-fluid"></a></div>*@



                                @if (makale.Content.ToString().Length > 200)
                                {

                                    <p class="intro">
                                        <div>
                                            @*@Html.Raw(makale.Content.Substring(0, 490)) ...*@

                                            @*@MvcHtmlString.Create(makale.Content.Substring(0, 490)) ...*@


                                            @*@HttpUtility.HtmlEncode(makale.Content.ToString().Substring(0, 490)) ...*@





                                            @{
                                                var truncatedHtml = BlogSite.Web.Models.HtmlHelperTo.TruncateHtml(makale.Content, 190);
                                            }

                                            @Html.Raw(truncatedHtml)


                                        </div>
                                    </p><br />
                                    <p class="read-more" style="text-align: right;"><a href="~/Makaleler/MakaleDetayIndex/@makale.ArticleId" class="btn btn-primary">Okumaya devam et</a></p>
                                }
                                else
                                {
                                    <p class="intro">
                                        <div>
                                            @Html.Raw(makale.Content)
                                        </div>
                                    </p>
                                    <p class="read-more"><a href="~/Makaleler/MakaleDetayIndex/@makale.ArticleId" class="btn btn-primary">Yorum yap</a></p>
                                }


                            

                        </div>

                    }
                    <!-- post        -->
                    <div class="pager d-flex justify-content-between">
                        <div class="previous"><a href="#" class="btn btn-outline-primary">← Öncekİ</a></div>
                        <div class="next"><a href="#" class="btn btn-outline-secondary">Sonrakİ →</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
