
@{
    ViewBag.Title = "AnasayfaIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Tuple<List<Categories>, List<Articles>, List<Users>, List<Comments>>

@*@foreach (var makale in Model.Item2)
    {*@

@*@model List<Articles>*@

<div id="all">
    <div id="content">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12">-->
            <!-- breadcrumb-->
            <!--<nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Blog liste</li>
                        </ol>
                    </nav>
                </div>
            </div>-->
            <div class="row">
                <!--
                *** LEFT COLUMN ***
                _________________________________________________________
                -->
                <div id="blog-listing" class="col-lg-12">
                    @*<div class="box">
                            <h1>Kategori</h1>
                            <p>



                            </p>
                        </div>*@
                    <!-- post-->
                    @foreach (var makale in Model.Item2)
                    {


                        <!-- post        -->
                        <div class="post">
                            <h2><a href="post.html">@makale.Title</a></h2>
                            <p class="author-category">
                                By <a href="#">
                                    @foreach (var user in Model.Item3)
                                    {

                                        if (user.UsersId == makale.UserId)
                                        {
                                            @user.UserName
                                        }
                                    }

                                </a>


                            </p>
                            <hr>
                            <p class="date-comments">
                                <a href="#"><i class="fa fa-calendar-o"></i> @makale.CreateDate</a>
                                <i class="fa fa-comment-o">

                                    @{int sayac = 0; }
                                    @foreach (var com in Model.Item4)
                                    {
                                        if (com.ArticleId == makale.ArticleId)
                                        {
                                            sayac += 1;

                                        }
                                    }

                                
                                  @sayac
                                </i> Yorum

                                @*<a href="~/Yorumlar/YorumlarIndex/@makale.ArticleId"><i class="fa fa-comment-o"></i>  Comments</a>*@
                            </p>

                            @*<div class="image"><a href="post.html"><img src="/distribution/img/blog.jpg" alt="Example blog post alt" class="img-fluid"></a></div>*@

                            @if (makale.Content.ToString().Length > 250)
                            {
                                <p class="intro"> @makale.Content.ToString().Substring(0, 250) ... </p>
                                <p class="read-more"><a href="~/Makaleler/MakaleDetayIndex/@makale.ArticleId" class="btn btn-primary">Okumaya devam et</a></p>
                            }
                            else
                            {
                                <p class="intro"> @makale.Content </p>
                            }





                        </div>

                    }
                    <!-- post        -->
                    <div class="pager d-flex justify-content-between">
                        <div class="previous"><a href="#" class="btn btn-outline-primary">← Öncekİ</a></div>
                        <div class="next disabled"><a href="#" class="btn btn-outline-secondary disabled">Sonrakİ →        </a></div>
                    </div>
                </div>
                <!-- /.col-lg-9-->
                <!-- *** LEFT COLUMN END ***-->
                <!--<div class="col-lg-3">
                    <!--
                    *** BLOG MENU ***
                    _________________________________________________________
                    -->
                <!--<div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 panel-title">Kategoriler</h3>
                    </div>
                    <div class="card-body">
                        <ul class="nav flex-column nav-pills">
                            ATsembolü foreach (var kategori in Model.Item1)
                            {
                                <li><a href="~/Anasayfa/AnasayfaIndex/atsembolü kategori.CategoryId" class="nav-link"> ATsembolükategori.CategoryName</a></li>

                            }

                        </ul>
                    </div>
                </div>-->
                @*bu kısmı layouta aldım*@
                <!-- /.col-lg-3-->
                <!-- *** BLOG MENU END ***-->-->
                <!--@*<div class="banner"><a href="#"><img src="img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>*@
                </div>-->
            </div>
        </div>
    </div>
</div>