@model BlogSite.Web.Articles

@{
    ViewBag.Title = "ArticleDetail";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="card-title">Makale Detay</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @*@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))*@
                            Content
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.Content)*@
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CategoryId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CategoryId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Views)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Views)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Likes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Likes)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "ArticleEdit", new { id = Model.ArticleId }) |
                    @Html.ActionLink("Listeye geri dön", "ArticlesIndex")
                </p>
            </div>
        </div>
    </div>
    </section>
